body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #053242;
  padding: 0;
  margin:0
}


/* Home Page Styles */
#Home h1 {
  font-family: "DM Sans", sans-serif;
  background-color: #E8ECED;
  padding: 50px;

}

#Home p {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  background-color: #E8ECED;
  padding: 50px;
}


/* CreateRequest Page Styles */
#createRequest h2 {
  font-family: "DM Sans", sans-serif;
  background-color: #E8ECED;
  padding: 50px;
  font-size: 2rem;
  text-align: center;
  color: #053242;
  border-radius: 8px;
  width: 60%;
  margin: 20px auto;

}

#createRequest form {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  background-color: #E8ECED;
  padding: 50px;
  margin: 20px auto;
  width: 60%;
  border-radius: 8px;
}

#createRequest label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #053242;
}

#createRequest input,
#createRequest textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #053242;
  border-radius: 5px;
}

#createRequest button {
  background-color: #053242;
  color: white;
  padding: 12px 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#createRequest button:hover {
  background-color: #E8ECED;
  color: #053242;
}

#createRequest .category-buttons {
  margin-top: 1rem;
}

#createRequest .category-buttons button {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border: 1px solid #053242;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 5px;
}

#createRequest .category-buttons button:hover {
  background-color: #400D05;
  color: white;
}

#createRequest .category-buttons button.selected {
  background-color: #400D05;
  color: white;
}

nav a {
  font-family: 'DM Sans', sans-serif; 
  font-size: 1rem; 
  text-decoration: none; 
  color: #053242; 
}

/* Add hover effect */
nav a:hover {
  color: #ff6347; /* Optional: Change the color on hover */
}